*{
    margin: 0;
    padding: 0;
}
body{
    background: #01315a;
    width: 72.5%;
    margin: 0 auto;

}
header{
    display: flex;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    background: #0f66d0;
    margin-right: 40px;
    margin-left: 40px;
    text-decoration: none;
}
.header1 {
    height: 45%;
    width: 26%;
}
.header2  {
    height: 45%;
    width: 26%;
}
.post-1 {
    background: #d12767;
}
.post-2 {
    background: #0D7E71;
}
.post-3 {
    background: #b1660e;
}
.post-4 {
    background: #dd1144;
}
.post-5 {
    background: #2d95bb;
}
main{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.message-wrapper{
    width: 75%;
}
.message-wrapper section{
    display: flex;

}
.message-wrapper section .post-img,
.message-wrapper section .post-description{
    width: 50%;
    cursor: pointer;
}
.message-wrapper section .post-img:hover,
.message-wrapper section .post-description:hover{
    filter: opacity(.4);
}
.message-wrapper section .post-description{
    color: #ffffff;
    position: relative;
    display: flex;
    flex-direction: column;
}
section .post-img img{
    width: 100%;
    height: 100%;
}
section:nth-child(even) .post-img{
    order: 1;
}
.message-wrapper section:nth-child(odd) .post-description h1{
    font-size: 3vw;
    font-weight: 100;
    text-align: left;
    margin: 8% 24% 0 8%;
    line-height: 3vw;
    letter-spacing: 1px;
}
.message-wrapper section:nth-child(odd) .post-description p{
    font-size: 1vw;
    line-height: 1.5vw;
    margin: 5% 20% 0 8%;
}
.message-wrapper section:nth-child(odd) .post-description .date{
    width: 3vw;
    text-align: center;
    position: absolute;
    top: 5%;
    right: 6%;
    font-size: 3vw;
    font-weight: 100;
    line-height: 2.6vw;
    opacity: 0.6;
}
section:nth-child(even) .post-description h1{
    font-size: 3vw;
    font-weight: 100;
    text-align: right;
    margin: 8% 9% 0 27%;
    line-height: 3vw;
    letter-spacing: 1px;
}
section:nth-child(even) .post-description p{
    font-size: 1vw;
    line-height: 1.5vw;
    text-align: right;
    margin: 5% 9% 0 20%;
}
.message-wrapper section:nth-child(even) .post-description .date{
    width: 3vw;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 6%;
    font-size: 3vw;
    font-weight: 100;
    line-height: 2.6vw;
    opacity: 0.6;
}
.message-wrapper section:last-child .post-description{
    font-size: 3vw;
    font-weight: 100;
    width: 100%
}
.message-wrapper section:last-child .post-description h1{
    font-size: 3vw;
    font-weight: 100;
    margin: 5% 0% 0 4%;
    letter-spacing: 1px
}
.message-wrapper section:last-child .post-description p{
    margin: 2% 13% 4% 4%;
}
.news-wrapper{
    width: 24%;
}
.news-wrapper section{
    margin-left: 5px;
    background-color: #ffffff;
    margin-bottom: 4%;
}
.news-wrapper .news-img img{
    width: 100%;
    height: 100%;
}
.news-wrapper .news-blog-text{
    padding: 20px;
    padding-left: 25px;
}
.news-wrapper .news-blog-text h1{
    font-weight: 400;
    margin: 0px;
}
.news-wrapper .news-blog-text p{
    font-size: 1vw;
    line-height: 19px;
    margin: 6px 0px 0px 0px;
}
.message-wrapper section .post-description .date span{
    font-size: 2vw;
}
footer{
    display: flex;
    justify-content: space-between;
    background-color: #162b4d;
    color: #ffffff;
    margin-top: 19px;
    padding-left: 2vw;
    font-size: 1vw;
}
footer p{
    opacity: 0.3;
    margin: 0px;
    line-height: 20px;
}
footer div{
    margin: 20px 0px;
}
footer div:last-child{
    margin-right: 20px;
}
@media only screen and (max-width: 768px){
    .body {
        width: 90%;
    }
    header{
        background-color: #162b4d;
        flex-direction: column;
        align-items: center;
    }
    header .header1{
        margin: 7% 0% 8% 0%;
        font-size: 4vw;
        font-weight: 300;

    }
    header .header2 {
        display: none;
    }
    main{
        margin-top: 15px;
    }
    main .message-wrapper{
        width: 57%;
    }
    .message-wrapper section {
        flex-direction: column;
    }
    main .news-wrapper{
        width: 40%;
    }
    main .message-wrapper section .post-img,
    main .message-wrapper section .post-description{
        width: 100%
    }
    section:nth-child(even) .post-img{
        order: 0;
    }
    #description-1 h1, #description-2 h1,
    #description-3 h1, #description-4 h1,  #description-5 h1{
        font-size: 5vw;
        text-align: left;
        margin: 8% 9% 0 10%;
        line-height: 5vw;
        letter-spacing: 1px;
    }
    #description-1 p, #description-2 p, #description-3 p,
    #description-4 p,  #description-5 p{
        font-size: 1.8vw;
        line-height: 2.5vw;
        margin: 6% 5% 13% 8%;
        text-align: left;
    }
    #description-1 .date, #description-2 .date, #description-3
    .date, #description-4 .date, #description-5 .date{
        position: static;
        text-align: center;
        margin: auto;
        font-size: 6vw;
        line-height: 5vw;
        padding-bottom: 9px;
    }
    #description-1 .date span,
    #description-2 .date span,
    #description-3 .date span,
    #description-4 .date span,
    #description-5 .date span{
        font-size: 3vw;
    }
    .news-wrapper .news-blog-text {
        padding: 10% 6% 5% 10%;
    }
    .news-wrapper .news-blog-text h1 {
        font-weight: 400;
        margin: 0px;
        margin-top: 3px;
        font-size: 2.8vw;
        line-height: 3vw;
    }
    .news-wrapper .news-blog-text p {
        font-size: 1.7vw;
        line-height: 2.5vw;
        margin: 4% 1% 0% 0%;
    }
    footer{
        display: block;
        text-align: center;
        margin-top: 16px;
        padding: 0px;
        font-size: 1.7vw;
    }
    footer div{
        margin: 0px;
    }
    footer div:first-child{
        padding-top: 15px;
    }
    footer div:last-child{
        padding-bottom: 15px;
        margin-right: 0px;
    }
}
@media only screen and (max-width: 480px){
    header .header1 {
        margin: 13% 0% 13% 0%;
        font-size: 6.7vw;
        font-weight: 300;
    }
    main {
        flex-direction: column;
    }
    main .message-wrapper{
        width: 100%;
    }
    main .news-wrapper{
        width: 100%;
    }
    .news-wrapper section {
        margin-left: 0px;
    }
    #description-1 h1, #description-2 h1,
    #description-3 h1, #description-4 h1,
    #description-5 h1 {
        font-size: 8.7vw;
        margin: 9% 9% 0 8%;
        letter-spacing: 1px;
        line-height: 9vw;
    }
    #description-1 p, #description-2 p,
    #description-3 p, #description-4 p,
    #description-5 p {
        font-size: 3.3vw;
        line-height: 4vw;
        margin: 5% 6% 12% 8%;
    }
    #description-1 .date, #description-2 .date,
    #description-3 .date, #description-4 .date,
    #description-5 .date {
        font-size: 9vw;
        line-height: 9vw;
        padding-bottom: 3%;
    }
    #description-5 .date {
        font-size: 9vw;
        line-height: 8vw;
        padding-bottom: 1%;
    }
    #description-1 .date span, #description-2 .date span,
    #description-3 .date span, #description-4 .date span,
    #description-5 .date span {
        font-size: 5vw;
    }
    .news-wrapper .news-blog-text h1 {
        margin-top: 2px;
        font-size: 5vw;
    }
    .news-wrapper .news-blog-text p {
        font-size: 2.6vw;
        line-height: 4vw;
        margin: 6% 3% 0% 0%;
    }
    .news-wrapper .news-blog-text {
        padding: 6% 7% 8% 7%;
    }
    footer{
        padding: 0px 28px;
        font-size: 2.7vw;
        line-height: 4vw;
    }
}